block vars
  -
    let
      page = "def"

block config
  include /_config.pug
  -
    pageData = {}
    for ( var o in siteData._defaults ) {
      if ( siteData[ page ] && siteData[ page ][ o ] ) {
        pageData[ o ] = siteData[ page ][ o ]
      } else {
        pageData[ o ] = siteData._defaults[ o ]
      }
    }

doctype html
html(lang=pageData.lang)
  head(prefix=pageData.ogPrefix)
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content=pageData.viewport)
    meta(name="format-detection", content="telephone=no")
    meta(name="description", content=pageData.description)
    meta(name="keywords", content=pageData.keywords)
    meta(property="og:type", content=pageData.ogType)
    meta(property="og:site_name", content=pageData.siteName)
    meta(property="og:title", content=pageData.title)
    meta(property="og:description", content=pageData.description)
    meta(property="og:url", content=pageData.siteUrl+pageData.url)
    meta(property="og:image", content=pageData.ogImg)
    meta(name="msapplication-tap-highlight", content="no")
    meta(name="application-name",content=pageData.siteName)
    meta(name="apple-mobile-web-app-title", content=pageData.siteName)
    title #{pageData.title}
    //- link(rel="shortcut icon", href=pageData.favicon, type="image/vnd.microsoft.icon")
    //- link(rel="icon", sizes="192x192", href=pageData.icon)
    //- link(rel="apple-touch-icon-precomposed", type="image/png", sizes="114x114", href=appleIcon)
    block style
      link(rel="stylesheet", href=pageData.cssCommonDir + "/common.css")
    block script_head
      script(src=pageData.jsCommonDir + "/common_head.js")
  body
    div.page#page
      block pageHead
        |#{"\n"}
        header.page_head
          div.page_core
            div.siteId.page_siteId
              a.siteId_anchor site
        ///.page_head
      main.page_body
        block pageBody
          p foo
      ///.page_body
      block pageFoot
        footer.page_foot
    ///.page#page
    block script_body
      script(src=pageData.jsCommonDir + "/common_body.js")
